@font-face {
    font-family: "MariolineBarnard";
    src: url("font/MariolineBarnard.ttf");
}

h1 {
    font-family: "MariolineBarnard" !important;
    font-size: 70px !important;
    color: #25b4b1;
}

h1 p {
    font-family: "MariolineBarnard" !important;
    font-size: 50px !important;
    color: #25b4b1;
}

.color1 {
    background-color: #9185be !important;

}

.color {
    background-color: #25b4b1 !important;

}

.search {
    color: #25b4b1;
    font-family: "MariolineBarnard";

}

.w3-container,
.w3-panel {
    padding: 0% !important;
}

.w3-button {
    display: inline-flex !important;
}

img {
    align-items: center !important;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }